# ======== FIREBASE CLIENT =========================================
# Acesse o Console do Firebase -> Seu Projeto -> Configurações do Projeto -> Geral -> Seus Aplicativos
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="seu-projeto.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="seu-projeto"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="seu-projeto.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="1234567890"
NEXT_PUBLIC_FIREBASE_APP_ID="1:1234567890:web:abcdef123456"

# ======== FIREBASE ADMIN (SECRETS) ================================
# Acesse o Console do Firebase -> Configurações do Projeto -> Contas de Serviço -> Gerar nova chave privada
# Copie o client_email e private_key para cá. 
# ATENÇÃO: Mantenha as aspas e o \n exato na chave privada para funcionar corretamente no Next.js!
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@seu-projeto.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBA...[CHAVE_COMPLETA_AQUI_UMA_LINHA_SÓ_COM_\n]...\n-----END PRIVATE KEY-----\n"

# ======== NEXTAUTH ================================================
AUTH_SECRET="gerar-chave-aleatoria-usando-openssl-rand-Ou-qualquer-coisa-aqui-no-dev"
